.identity
  .third_party
    %h1 Sign in with
    %form
      =link_to 'Facebook',  '/auth/facebook?origin=persist',      :target => :_parent, :class => 'btn-facebook img-btn'
      =link_to 'Google',    '/auth/google_oauth2?origin=persist', :target => :_parent, :class => 'btn-google img-btn'
  .img-or
    %span or

  .login
    %h1 Login
    =simple_form_for(@identity, :url => '/auth/identity/callback') do |f|
      =f.input :email, :input_html => {:name => :auth_key}
      =f.input :password, :input_html => {:name => :password}
      =f.submit 'Login'
      =link_to 'Forgot your password?', new_password_path

  .register
    %h1 Don't have an account?
    = simple_form_for @identity, :url => '/auth/identity/register' do |f|
      = f.input :email, :input_html => { "name" => "email"}
      = f.input :password, :input_html => { "name" => "password"}
      = f.button :submit, "Signup"
