%p= "Hi #{@user.name}"
%p You asked to reset your Investopresto passpword. Please follow this link to do so:
= edit_password_url(@user.password_reset_token, :redirect_uri => @user.redirect_uri)

%p Thanks!
%p The Investopresto Team.
